absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.1
cycler==0.10.0
eyeD3==0.8.8
Flask==1.0.2
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
idna==2.7
itsdangerous==1.1.0
Jinja2>=2.10.1
joblib==0.13.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.4
olefile==0.46
pandas==0.23.4
pathlib==1.0.1
Pillow==5.3.0
protobuf==3.6.1
pycparser==2.19
PyMySQL==0.9.2
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
python-magic==0.4.15
python-magic-bin==0.4.14
pytz==2018.7
PyYAML>=4.2b1
requests==2.20.1
scikit-learn==0.20.2
scikit-surprise==1.0.6
scipy==1.1.0
six==1.12.0
sklearn==0.0
surprise==0.1
tensorboard==1.12.0
tensorflow==1.12.2
termcolor==1.1.0
tornado==5.1.1
urllib3>=1.24.2
Werkzeug==0.15.3
win-inet-pton==1.0.1
wincertstore==0.2
